.bg_cr{background-color: #171a19;}
.txt_cr{color:#fff;}
.red{color:#d9594c;}
.blue{color:#53a2be;}
.green{color:#419d78;}
.yellow{color:#e0a458;}
.op0{opacity: 0;}
.ovh100{overflow: hidden;height: 100vh;}
body{
/*    animation: move_B 2s 1;*/
    animation-delay: 12s;    
}
a.link{
    position: relative;
    display: inline-block;
    font-weight: 700;
}
a.link:before{
    content: '';
    z-index: -1;
    display: block;
    -webkit-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 21px;
    height: 2px;
    background-color: #e0a458;
}

a.link.green:before{
    background-color: #419d78;
}
a.link.red:before{
    background-color: #d9594c;
}

a.link:hover:before{
    width: 100%;
}
a.small {
    color: #aaa;
    display: inline-block;
    position: relative;
    font-size: 0.8rem;    
}
a.small:hover {
    color: #e0a458;
}
td>span{position: relative;}
a.small:before,
td>span:before {
    content: '';
    z-index: -1;
    display: block;
    -webkit-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    position: absolute;
    left: 0;
    bottom: 2px;
    right: 0;
    height: 7px;
    width: 10px;
    background-color: rgba(255,255,255,0.07);
}
td>span:hover{
    color:#e0a458;
}
a.small:hover:before,
td>span:hover:before {
    bottom: -3.5px;
    height: 3px;
    width: 100%;
    background-color: #e0a458;
}
span.small{font-size: 0.8rem !important;}

li a.green:hover{
    background-color: rgba(65,157,120,0.14)
}
li a.blue:hover{
    background-color: rgba(83,162,190,0.14);
}
li a.red:hover{
    background-color: rgba(217,89,76,0.14);
}
li a.yellow:hover{
      background-color: rgba(224,164,88,0.14);
}
span.small{
    font-size: 0.5rem;
    color:#aaa;
    
}
span.title{
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff
}
span.view:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #e0a458;
}
span.view{
    display: inline-block;
    background-color: #e0a458;
    font-size: 1rem;
    margin: auto;
    margin-top: 1rem;
    position: relative;
}
span.view:hover{
    background-color: transparent !important;
}
span.view:hover:before{
    left: 100%;
}

.portfolio figure{
    position: relative;
    overflow: hidden;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: 0;
    background-position: center;
}
.portfolio figure a img{
    width: 100%;
   
}
figure img{
     filter: drop-shadow(0 0 5px #777);
}

figure figcaption span{
    display: block;
    font-size: 0.9rem;
    margin: 0.5rem 0;
    color:#aaa;
}
.fx{
    position: fixed;
    top: 0;
    left: 0;
}
.ovh{overflow: hidden;}
.mt10{margin-top: 0.5rem!important;}
.mt20{margin-top: 1rem!important;}



/*common end*/
